body {
    background-color: #f7f7f7;
}


.father{
	display: flex;
    flex-flow: column nowrap;
}

hr{
    color: gray;
    size: 3px;
}
	header{
		background: #00BAA4;
        /* position: fixed; */
        width: 100%;
        padding: 5% 0% 15% 0%;
        border-radius: 0% 0% 10% 10%;
        text-align: center;
    } 

    .logo {
        border-style: none;
        width: 20%;
    }
    .h1 {
            font-size: 3rem;
            line-height: 110%;
            margin: 2.8rem 0 1.68rem 0;
            color: white;
    }


