
.container{
    margin: 0 auto;
    text-align: center;
    width: 60%;
    height: 40%;
    background: #f7f7f7;
    padding-bottom: 20%;
    opacity: 0.8;
    border-radius: 10%;
    
}

.body{
    background:#f7f7f7;
}
.seccion{
   display: inline;
    align-self: stretch;

}
.text{
    border-radius:1em;
    line-height: 2.5;
    margin-bottom: 15px;
}

 .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#f7f7f7;
    color: #f7f7f7;
    display: flex;
    justify-content: space-evenly;
    

  }
  .seccion{
    display: flex;
    flex-flow: column nowrap;
    padding: 5%;
    bottom: 10%;
  }
  .s12{
      padding: 5%;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 20%;
  }

body {
    background-color: #f7f7f7;
}


.father{
	display: flex;
    flex-flow: column nowrap;
}

hr{
    color: gray;
    size: 3px;
}
	header{
		background: #00BAA4;
        /* position: fixed; */
        width: 100%;
        padding: 5% 0% 15% 0%;
        border-radius: 0% 0% 10% 10%;
        text-align: center;
    } 

    .logo {
        border-style: none;
        width: 20%;
    }
    .h1 {
            font-size: 3rem;
            line-height: 110%;
            margin: 2.8rem 0 1.68rem 0;
            color: white;
    }
    .buttons {
        width: 300px;
        height: 100px;
        text-align: center;
        font-size: 20px;
        margin-bottom: 5%;
        border-radius: 5%;
        background-color: white;
        text-align: center !important;

    }
    #root {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .hi{
        background: #f1d6ab; 
        border-radius:1em;
        /* line-height: 2.5; */
        margin-bottom: 15px;
        height:42px; 
        width:300px;
        text-align: left;

    }
    
    .containerone{
        background:#e3b04b;
        border-radius: 5%;

        
    }
    .section{
        /* background: #e3b04b; */
        border-radius:1em;
        display: grid;
        justify-content:center;
        
    
    }
