@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');

body {
    background: white !important;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

.father {
    display: flex;
    flex-flow: column nowrap;
}

.hr {
    color: gray;
    size: 3px;
}

header {
    background: #00BAA4;
    width: 100%;
    padding: 5% 0% 15% 0%;
    border-radius: 0% 0% 10% 10%;
    text-align: center;
}

.logo {
    border-style: none;
    width: 20%;
}

.h1 {
    font-size: 28px;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
    color: white;
}

.buttons {
    width: 90%;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #00BAA4;
    background-color: white;
    padding: 13%;
    margin: -7% 0% 12% 0%;
}


.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
    align-items: center;
    padding: 10%;
    margin: -5% 10% 10% 10%;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
}

.containerImg {
    display: flex;
    flex-direction: column;
    width: 50rem;
}

.imgFeedback {
    padding: 1%;
}

.text {
    border-radius: 1em;
    line-height: 2.5;
    margin-bottom: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f7f7f7;
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Raleway', sans-serif;
}


.s12 {

    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 20%;
    font-family: 'proxima-nova', sans-serif;
    color: #ADADAD;
    display: flex;
    flex-direction: column;
    margin: -7% 0% 12% 0%;

}

#root {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.cajaF {
    display: flex;
    flex: 2 1 auto;
    width: 90%;
    height: auto;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #00BAA4;
    margin-top:3%;
}


.text {
    text-align: left;
    padding: 0% 0% 2% 5%;
}

textarea {
    border-radius: 6px;
}

.img {
    display: flex;
    width: 70px;
}

.containerTarjet {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: -5% 10% 10% 10%;
    border-radius: 20px;
}

.containerPF {
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: -5% 10% 10% 10%;
    border-radius: 20px;
}

.infoClass {
    font-size: large;
}

.case {
    border-radius: 1em;
    width: 250px;
    height: 100px;
    margin-bottom: 5%;
}

.file {
    margin-bottom: 2%;
}

.browser-default {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: white;
    padding: 1% 2% 1% 2%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 2% 2% 8% 2%;
    border: none;
    border-radius: .6em;
    text-align: left;
    background-color: #ADADAD;
}

.searchClass {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #ADADAD;
    line-height: 4;
    padding: 1% 2% 1% 2%;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 2% 2% 2% 2%;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .03);
}

.caja {
    display: flex;
    flex: 2 1 auto;
    width: auto;
    height: auto;
    border-radius: 20px;
    background-color: white;
    border: 1px solid #00BAA4;
    margin: 5%;
    font-size: x-small;
    margin-bottom: 1%;

}

.text {
    text-align: left;
    padding: 2%;
}

.img {
    display: flex;
    width: 20%;
}

#btnBack {
    display: flex;
    justify-content: start;
    margin-left: 10%;
    font-size: large;
    color: white
}

.hi {
    background: white;
    border-radius: 1em;
    margin-bottom: 15px;
    border: 1px solid rgb(240, 135, 240);
    height: 42px;
    width: 300px;
    text-align: left;
}

.containerone {
    background: white;
    border-radius: 5%;
    border: 1px solid #00BAA4;
    padding: 2%;
    
}
  
    .section{
        /* background: #e3b04b; */
        border-radius:1em;
        display: grid;
        justify-content:center;
        
    
    }
    .cheader{
        display: flex;
        justify-content: space-evenly;

    }
    .dheader{
        display: flex;
        justify-content: space-evenly;
        font-size: 10px;
    }
   


    