/* ferr */
.container {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    height: 40%;
    background: #f7f7f7;
    padding-bottom: 20%;
    opacity: 0.8;
    border-radius: 5%;

}

.text {
    border-radius: 1em;
    line-height: 2.5;
    margin-bottom: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f7f7f7;
    color: white;
    display: flex;
    justify-content: space-evenly;
    float: right;
    

}

.seccion {
    display: flex;
    flex-flow: column nowrap;
    padding: 5%;
    bottom: 10%;
    /* margin-bottom: 20%; */
}

.s12 {
    padding: 5%;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 20%;


}

/* fer */

body {
    background-color: #f7f7f7;
}


.father {
    display: flex;
    flex-flow: column nowrap;
}

hr {
    color: gray;
    size: 3px;
}

header {
    background: #00BAA4;
    width: 100%;
    padding: 5% 0% 15% 0%;
    border-radius: 0% 0% 10% 10%;
    text-align: center;
}

.logo {
    border-style: none;
    width: 20%;
}

.h1 {
    font-size: 3rem;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
    color: white;

}

.buttons {
    width: 300px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5%;
    border-radius: 5%;
    background-color: white;
    text-align: center !important;

}

#root {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.caja {
    display: flex;
    flex: 2 1 auto;
    width: auto;
    height: auto;
    border-radius: 20px;
    background-color: #E5E5E5;
    margin: 5%;
    font-size: x-small;
    margin-bottom: 1%;

}

.text {
    text-align: left;
    padding: 2%;
}

.img {
    display: flex;
    width: 20%;
}

/* __________FORMTWO_________ */

.containerTarjet {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: -5% 10% 10% 10%;
    border-radius: 20px;
}

.infoClass {
    font-size: large;
}
.case {
    border-radius: 1em;
    width: 250px;
    height: 100px;
    margin-bottom: 5%;
   }
   .file {
       margin-bottom: 2%;
   }


.browser-default {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: white;
    padding: 1% 2% 1% 2%;
    width: 90%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    max-width: 100%;
    box-sizing: border-box;
    margin: 2% 2% 8% 2%;
    border: none;
    border-radius: .6em;
    -webkit-appearance: none;
    background-color: #F7F7F7;
    text-align: left;
    background-color: #ADADAD;
    /* background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #3F2884 0%,#AC9BE2 100%);
      background-repeat: no-repeat, repeat;
      background-position: right .7em top 50%, 0 0;
      background-size: .65em auto, 100%; */
}

	header{
		background: #00BAA4;
        /* position: fixed; */
        width: 100%;
        padding: 5% 0% 15% 0%;
        border-radius: 0% 0% 10% 10%;
        text-align: center;
    } 

    .logo {
        border-style: none;
        width: 20%;
    }
    .h1 {
            font-size: 3rem;
            line-height: 110%;
            margin: 2.8rem 0 1.68rem 0;
            color: white;
            
            }
    .buttons {
        width: 300px;
        height: 100px;
        text-align: center;
        font-size: 20px;
        margin-bottom: 5%;
        border-radius: 5%;
        background-color: white;
        text-align: center !important;

    }
    #root {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
   
    .caja{
        display: flex;
        flex: 2 1 auto;
        width:auto;
        height: auto;
        border-radius: 20px;
        background-color: #E5E5E5;
        margin: 5%;
        font-size: x-small;
        margin-bottom: 1%;
        
    }
    .text {
        text-align: left;
        padding: 2%;
          }
    .img {
        display: flex;
        width: 20%;
    }
   #btnBack {
       display: flex;
       justify-content: start;
       margin-left: 10%;
       font-size:large;
       color:white
   }
   .hi{
    background: white; 
    border-radius:1em;
    /* line-height: 2.5; */
    margin-bottom: 15px;
    height:42px; 
    width:300px;
    text-align: left;

}

.containerone{
    background: white;
    border-radius: 5%;

    
}
.section{
    
    border-radius:1em;
    display: grid;
    justify-content:center;
    

}
  
    
    .containerone{
        background:white;
        border-radius: 5%;

        
    }
    .section{
        /* background: #e3b04b; */
        border-radius:1em;
        display: grid;
        justify-content:center;
        
    
    }
    .cheader{
        display: flex;
        justify-content: space-evenly;

    }

    
